<div class="mt-4">
    <h3>Tạo khoá học</h3>
    <form method="POST" action="/courses/store">
        <div class="form-group" >
            <label for="name">name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="name"
                placeholder="name">
        </div>
        <div class="form-group">
            <label for="description">description</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="description"
                placeholder="description">
        </div>
        <div class="form-group">
            <label for="image">image</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="image"
                placeholder="image">
        </div>
        <div class="form-group">
            <label for="video">video</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="video"
                placeholder="video">
        </div>
        <button type="submit" class="btn btn-primary">Tạo</button>
    </form>
</div>