<div class="mt-4">
    <form action="" method="get">
        <div  class="form-group">
            <label for="search-input">Từ khoá</label>
            <input type="text" class="form-control" id="search-input"
            placeholder="từ khoá..." name="q">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>